<div class='moving-background'>
  <header class='primary-header'>  
      <div class='container'>
          <div class='header-text'>
            <h1><a href="{{ site.baseurl }}/"> {{ site.title }} <i class='fa fa-gamepad'></i></a></h1>
            <p>A quick and silly script for adding the Konami Code easter egg to your site.  Compatible with gestures on smartphones and tablets as well.</p>            
          </div>


            <a class='btn btn-default btn-lg' href="https://github.com/georgemandis/konami-js/zipball/master"><i class='fa fa-download'></i> Download</a>
            <a class='btn btn-primary btn-lg' href="https://github.com/georgemandis/konami-js"><fa class='fa fa-github'></fa> View On <strong>GitHub</strong></a>

      </div>
  </header>
</div>