<div class="moving-background">
  <header class="primary-header">
    <div class="container">
      <div class="header-text">
        <h1>
          <a href="{{ site.baseurl }}/">
            {{ site.title }} <i class="fa fa-gamepad"></i
          ></a>
        </h1>
        <p>
          A quick and silly script for adding the Konami Code easter egg to your
          site. Compatible with gestures on smartphones and tablets as well.
        </p>
      </div>

      <a
        class="btn btn-default btn-lg"
        href="https://github.com/georgemandis/konami-js/zipball/master"
        ><i class="fa fa-download"></i> Download</a
      >
      <a
        class="btn btn-primary btn-lg"
        href="https://github.com/georgemandis/konami-js"
        ><fa class="fa fa-github"></fa> View On <strong>GitHub</strong></a
      >

      <p>
        <a href="https://npmjs.org/package/konami"
          ><img src="https://img.shields.io/npm/v/konami.svg" alt="Version"
        /></a>
        <a href="https://npmjs.org/package/konami"
          ><img
            src="https://img.shields.io/npm/dw/konami.svg"
            alt="Downloads/week"
        /></a>
        <a
          href="https://github.com/georgemandis/konami-js/blob/master/package.json"
          ><img src="https://img.shields.io/npm/l/konami.svg" alt="License"
        /></a>
      </p>
    </div>
  </header>
</div>
